* {
  box-sizing: border-box;
}

$cell-size: 100px;
$border: 1px solid black;
$gap: 1px;
$pad: 10px;

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
  width: calc(7 * $cell-size + 6 * $gap + 2 * $pad);
  padding: $pad;
  &__day {
    box-sizing: border-box;
    width: $cell-size;
    height: $cell-size;
    border: $border;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;

    transition:
      transform 0.5s,
      background-color 0.5s;

    &:hover {
      cursor: pointer;
      background-color: #ffbfcb;
      transform: translateY(-20px);
      z-index: 1;
    }
  }

  @for $i from 1 through 31 {
    &__day:nth-child(#{$i}) {
      &::before {
        content: '#{$i}';
        font-family: Arial, sans-serif;
        font-size: 30px;
      }
    }
  }

  @each $name, $offset in (mon 0, tue 1, wed 2, thu 3, fri 4, sat 5, sun 6) {
    &--start-day-#{$name} &__day:nth-child(1) {
      margin-left: $offset * ($cell-size + $gap);
    }
  }

  @for $d from 28 through 31 {
    &--month-length-#{$d} &__day:nth-child(n + #{ $d + 1 }) {
      display: none;
    }
  }
}
